---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Hero from "../components/Hero.astro";
import Center_text_con from "../components/Center_text_con.astro";

---

<Layout>
  <Hero
    img="/assets/img/about/headerfoto.webp"
    title="about us"
    jumplink="#products"
  />
  <Center_text_con text="Cióió is run by the Danish/Brazilian goldsmith Eva Thostrup Semblano, who creates handmade jewellery pieces out of reclaimed silver. With soft shapes, stackable designs and big pearls, Cióió hits the perfect balance between childish nostalgia and current edginess."/>
  <section class="con_eva_portrait">
    <img src="/assets/img/about/foto1.webp" alt="a portrait of Eva Thostrup Semblano sitting on stairs, wearing her own creations">
    <img src="/assets/img/about/foto2.webp" alt="a portrait of Eva Thostrup Semblano standing">
  </section>
  <section class="text_con">
    <img class="butterfly" src="/assets/img/about/butterfly.webp" alt="">
    <h2>Cióió [sió - ió]</h2>
  <Center_text_con text="The name Cióió, is derived from the Kayapó language, a Northern Jê language (Jê, Macro-Jê) spoken by the Kayapó and the Xikrin people in the north of Mato Grosso and Pará in Brazil." />
  <Center_text_con text="Cióió means 'butterfly,' symbolizing the profound journey of change and metamorphosis. Just as the butterfly undergoes a remarkable transformation, our brand embraces the essence of evolution and growth." />
</section>
<section class="proces">
  <h3>Process - olho necklace</h3>
  <div class="grid_proces"> 
    <img src="/assets/img/about/foto4.webp" alt="wax shape of Olho necklace">
    <img src="/assets/img/about/foto3.webp" alt="silver cast of Olho necklace">
    <img src="/assets/img/about/foto5.webp" alt="white pearls">
    <img src="/assets/img/about/foto6.webp" alt="hands holding the pearls">
    <img src="/assets/img/about/foto7.webp" alt="Olho necklace assemled">
    <img src="/assets/img/about/foto8.webp" alt="showcasing Olho necklace's opening mekanism">

  </div>
</section>
<Center_text_con text="Each Cióió piece is individually handcrafted in Eva’s studio. It evolves piece by piece, making each one unique. Eva offers the flexibility to recreate and customize every piece according to your preferences." />

</Layout>

<style>
  section {
    margin-inline: auto;
    max-width: 1000px;
  }
  img {
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .con_eva_portrait {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }


  .butterfly {
    max-width: 40%;
    margin: auto;
  }

  h2 {
    text-align: center;
    font-size:var(--w_h3_overskrift);
    padding-top: var(--gap);
  }

  h3 {
    text-align: center;
  }

  .proces {
    display: grid;
    gap: var(--gap);
    background-color: aqua;
  }

  .grid_proces {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);
  }

  @media (max-width: 800px) {
    .grid_proces {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  

}


</style>