---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import Hero from "../components/Hero.astro";
import Center_text_con from "../components/Center_text_con.astro";
---

<Layout title="About">
  <Hero
    img="/assets/img/about/headerfoto.webp"
    title="about us"
    jumplink="#scrolldown"
  />
  <section id="scrolldown"></section>
  <Center_text_con
    state="hide"
    text="Cióió is run by the Danish/Brazilian goldsmith Eva Thostrup Semblano, who creates handmade jewellery pieces out of reclaimed silver. With soft shapes, stackable designs and big pearls, Cióió hits the perfect balance between childish nostalgia and current edginess."
  />

  <section class="con_eva_portrait">
    <img
      class="eva"
      src="/assets/img/about/foto1.webp"
      alt="a portrait of Eva Thostrup Semblano sitting on stairs, wearing her own creations"
    />
    <img
      class="eva"
      src="/assets/img/about/foto2.webp"
      alt="a portrait of Eva Thostrup Semblano standing"
    />
  </section>
  <section class="text_con">
    <div class="box"></div>
    <h3>Cióió [sió - ió]</h3>
    <Center_text_con
      state="hide"
      text="The name Cióió, is derived from the Kayapó language, a Northern Jê language (Jê, Macro-Jê) spoken by the Kayapó and the Xikrin people in the north of Mato Grosso and Pará in Brazil."
    />
    <Center_text_con
      state="hide"
      text="Cióió means 'butterfly,' symbolizing the profound journey of change and metamorphosis. Just as the butterfly undergoes a remarkable transformation, our brand embraces the essence of evolution and growth."
    />
  </section>
  <section class="process">
    <h2>Process - olho necklace</h2>
    <div class="grid_process">
      <img
        class="img_width"
        src="/assets/img/about/foto4.webp"
        alt="wax shape of Olho necklace"
      />
      <img
        class="img_width"
        src="/assets/img/about/foto3.webp"
        alt="silver cast of Olho necklace"
      />
      <img
        class="img_width"
        src="/assets/img/about/foto5.webp"
        alt="white pearls"
      />
      <img
        class="img_width"
        src="/assets/img/about/foto6.webp"
        alt="hands holding the pearls"
      />
      <img
        class="img_width"
        src="/assets/img/about/foto7.webp"
        alt="Olho necklace assemled"
      />
      <img
        class="img_width"
        src="/assets/img/about/foto8.webp"
        alt="showcasing Olho necklace's opening mekanism"
      />
    </div>
  </section>
  <Center_text_con
    text="Each Cióió piece is individually handcrafted in Eva’s studio. It evolves piece by piece, making each one unique. Eva offers the flexibility to recreate and customize every piece according to your preferences."
  />
</Layout>

<style>
  section {
    margin-block: var(--margin);
    margin-inline: auto;
    max-width: 1000px;
  }

  .eva {
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .con_eva_portrait {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .butterfly {
    max-width: 35%;
    margin-inline: auto;
    margin-bottom: 20px;
    display: block;
  }

  h2 {
    text-align: center;
    padding-top: var(--gap);
  }

  h3 {
    text-align: center;
  }

  .process {
    display: grid;
    gap: var(--gap);
  }

  .grid_process {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap);
  }

  #scrolldown {
    margin: 0;
  }

  .img_width {
    width: 100%;
    height: auto;
    display: block;
  }

  /* sommerfugl animation */
  .box {
    width: 35%;
    margin-inline: auto;
    margin-bottom: 30px;
    display: flex;
    perspective: 500px;
  }

  .box::before,
  .box::after {
    content: "";
    padding-top: 56%;
    flex: 1;
    background-image: url("/assets/img/about/butterfly.webp");
    background-size: 200% 100%;
    animation: left 1s 2 cubic-bezier(0.42, 0, 0.31, 0.83) alternate;
    transform-origin: right;
  }

  .box::after {
    background-position: right;
    animation-name: right;
    transform-origin: left;
  }

  .box:hover::before,
  .box:hover::after {
    animation-play-state: paused;
  }

  .box:hover::before {
    animation: leftHover 1s 2 cubic-bezier(0.42, 0, 0.31, 0.83) alternate;
  }

  .box:hover::after {
    animation: rightHover 1s 2 cubic-bezier(0.42, 0, 0.31, 0.83) alternate;
  }

  @keyframes left {
    to {
      transform: rotateY(60deg);
    }
  }

  @keyframes right {
    to {
      transform: rotateY(-60deg);
    }
  }

  @keyframes leftHover {
    to {
      transform: rotateY(60deg);
    }
  }

  @keyframes rightHover {
    to {
      transform: rotateY(-60deg);
    }
  }

  /* Media query */

  @media (max-width: 800px) {
    .grid_process {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin-inline: var(--m_margin);
    }
    section {
      margin-block: var(--m_margin);
    }
  }
</style>
