---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
import Center_text_con from "../components/Center_text_con.astro";
import Img_asym_con from "../components/Img_asym_con.astro";
import InstaScroll from "../components/Insta_scroll.astro";
import ProductCard from "../components/Product_card.astro";
import ProductsSlider from "../components/Products_slider.astro";
---

<Layout title="Cióió">
  <div class="overflow">
    <Hero
      jumplink="#scrolldown"
      video="/assets/videos/headervid.mp4"
      logo="/assets/logo_white_outline.svg"
      showlogo="showlogo"
      showcta="showcta"
      alt="video showcase"
    />
    <section id="scrolldown">
      <Center_text_con
        headline="One of a kind"
        text="Every Cióió piece is born from the hands in goldsmith Eva Thostrup Semblano’s atelier, crafted with care and attention to detail, every piece is truly one-of-a-kind."
      />
    </section>
    <section class="big_img_con">
      <img
        class="img_style"
        src="/assets/img/forside/forside1.webp"
        alt="handmodel wearing Anél and Onda silver jewlery ring"
      />
      <div class="button_position">
        <CTA text="Shop now" state="variant" link="/shop" />
      </div>
      <div class="position_con_ring">
        <img
          class="img_style"
          src="/assets/img/forside/frit-anel.webp"
          alt="Anél ring"
        />
      </div>
    </section>
    <section class="asym_con">
      <Img_asym_con
        img1="/assets/img/forside/acro-necklace.webp"
        alt1="Onda Necklace, silver jewelry"
        img2="/assets/img/forside/anciti-charm.webp"
        alt2="ANÇITI CHARM necklace, showcased around the neck by holding it out with two hands"
        type="type1"
      />
      <div class="position_con_star">
        <img
          class="img_style"
          src="/assets/img/forside/frit-star.webp"
          alt="ANÇITI CHARM"
        />
      </div>
      <div class="position_con_heart">
        <img
          class="img_style"
          src="/assets/img/forside/frit-heart.webp"
          alt="Amor charm necklace"
        />
      </div>
    </section>
    <Center_text_con
      headline="Crafted with Integrity"
      text="Authenticity lies at the heart of everything we do. We exclusively use ethically sourced materials, ensuring that each piece not only looks beautiful but also feels good to wear."
    />
    <section class="big_img_con">
      <img
        class="img_style"
        id="bigimg"
        src="/assets/img/forside/forside4.webp"
        alt="model wearing Onda ring and boots"
      />
      <div class="position_con_shell">
        <img
          class="img_style"
          src="/assets/img/forside/frit-shell.webp"
          alt="one mar charm placed within one of the two shells"
        />
      </div>
    </section>
    <ProductsSlider />
    <div class="cta">
      <CTA text="Shop now" state="primary" link="/shop" />
    </div>
    <section class="makeit">
      <Center_text_con
        headline="Make it your own"
        text="At Cióió, we believe in personalization. Our flexible customization options allow you to reimagine and tailor each piece to reflect your unique style and preferences."
      />
    </section>
    <section class="asym_con" id="asymcon">
      <Img_asym_con
        img1="/assets/img/forside/back-olho.webp"
        alt1="Onda Necklace, silver jewelry"
        img2="/assets/img/forside/olho-hand.webp"
        alt2="Olho Necklace, silver jewelry and asa lock"
        type="type2"
      />
      <div class="position_con_necklace">
        <img
          class="img_style"
          src="/assets/img/forside/frit-olho.webp"
          alt="olho necklace flying"
        />
      </div>
      <div class="position_con_bracelet">
        <img
          class="img_style"
          src="/assets/img/forside/frit-bracelet.webp"
          alt="asa lock bracelet flying"
        />
      </div>
    </section>
    <InstaScroll
      title="@Follow us on instagram"
      img1="/assets/img/followusoninsta/foto1.webp"
      alt1="An empty cup with coffeeground in the bottom, besides it lies paper with Cióió's logo on it"
      img2="/assets/img/followusoninsta/foto2.webp"
      alt2="An elderly woman wearing some of Cióió's jewelry, while drinking her morning coffe"
      img3="/assets/img/followusoninsta/foto3.webp"
      alt3="Woman showing the onda ring she's wearing while she's on the beach"
      img4="/assets/img/followusoninsta/foto4.webp"
      alt4="A man showcasing his Olho necklace around his neck"
      img5="/assets/img/followusoninsta/foto5.webp"
      alt5="Proccess images of the onda ring"
      img6="/assets/img/followusoninsta/foto6.webp"
      alt6="Eva having her hands over her mouth and nose, showcasing her out fit and some of her rings"
      img7="/assets/img/followusoninsta/foto7.webp"
      alt7="The mar charm in some shells"
      img8="/assets/img/followusoninsta/foto8.webp"
      alt8="Black olho necklace laying on a blue background"
    />
  </div>
</Layout>

<style>
  section {
    max-width: 1000px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
  }

  .img_style {
    height: 100%;
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .asym_con,
  .big_img_con {
    position: relative;
    margin-top: 0;
  }

  .button_position {
    position: absolute;
    bottom: 60px;
  }
  .position_con_star {
    height: 28%;
    position: absolute;
    bottom: 11vw;
    left: 2vw;
    transform: rotate(-80deg);
  }

  .position_con_heart {
    height: 40%;
    position: absolute;
    bottom: -4vw;
    right: -8vw;
    transform: scaleX(-1) rotate(10deg);
    z-index: 99;
  }

  .position_con_ring {
    height: 28%;
    position: absolute;
    bottom: -10vw;
    right: 4vw;
    z-index: 10;
  }
  .position_con_shell {
    height: 34%;
    position: absolute;
    top: -6vw;
    right: -1vw;
  }
  .position_con_necklace {
    height: 40%;
    position: absolute;
    top: -8vw;
    left: 0;
    transform: rotate(-30deg);
    z-index: 10;
  }
  .position_con_bracelet {
    height: 45%;
    position: absolute;
    bottom: 7vw;
    right: 5vw;
    z-index: 10;

    transform: rotate(-157deg);
  }

  .makeit {
    margin-top: -70px;
  }
  #scrolldown {
    margin-block: 0;
  }

  #bigimg {
    transform: scaleX(-1);
  }

  .cta {
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }

  @media (max-width: 1050px) {
    .position_con_necklace {
      left: 3vw;
    }

    .makeit {
      margin-top: 0;
    }

    .overflow {
      overflow-x: hidden;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".position_con_ring", {
    y: 200,

    scrollTrigger: {
      trigger: ".big_img_con",
      start: "60% 50%",
      end: "200% 50%",
      scrub: 1,
      /* markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });

  gsap.to(".position_con_star", {
    y: -130,

    scrollTrigger: {
      trigger: ".asym_con",
      start: "30% 50%",
      end: "70% top",
      scrub: 2,
      /* markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });

  gsap.to(".position_con_heart", {
    y: 75,

    scrollTrigger: {
      trigger: ".asym_con",
      start: "50% 80%",
      end: "150% 20%",
      scrub: 1,
      /*       markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });

  gsap.to(".position_con_shell", {
    y: 75,

    scrollTrigger: {
      trigger: "#bigimg",
      start: "top bottom",
      end: "bottom 20%",
      scrub: 2,
      /*       markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });

  gsap.from(".position_con_necklace", {
    y: 140,

    scrollTrigger: {
      trigger: "#asymcon",
      start: "-10% 90%",
      end: "bottom 40%",
      scrub: 1,
      /*      markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });

  gsap.to(".position_con_bracelet", {
    y: 75,

    scrollTrigger: {
      trigger: "#asymcon",
      start: "45% 90%",
      end: "bottom top",
      scrub: 2,
      /*  markers: {
        startColor: "purple",
        endColor: "fuchsia",
        fontSize: "3rem",
      }, */
    },
  });
</script>
