---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
import Select_size from "../components/Select_size.astro";

---

<Layout>
  <Hero jumplink="#testing" />
  <section class="test2" id="testing"></section>
  <section class="test"></section>
  <CTA text="Shop now" state="primary"/>
  <Select_size number="49" state="primary"/>
</Layout>

<style>
  .test {
    width: 100%;
    height: 1000px;
    background-color: var(--white);
  }

  .test2 {
    width: 100%;
    height: 1000px;
    background-color: var(--black-500);
  }
</style>
