---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <section class="test2"></section>
  <section class="test"></section>
</Layout>

<style>
  .test {
    width: 100%;
    height: 1000px;
    background-color: var(--white);
  }

  .test2 {
    width: 100%;
    height: 1000px;
    background-color: var(--black-500);
  }
</style>
