---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import ProductCard from "../components/Product_card.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Shop">
  <Hero
    img="/assets/img/shop/headerfoto.webp"
    title="Shop"
    jumplink="#scrolldown"
  />
  <div class="overflow">
    <section class="productshowcase" id="scrolldown">
      <div class="con">
        <a href="/product">
          <ProductCard
            name="ACRO NECKLACE & AMOR CHARM"
            price="5300"
            img="/assets/img/shop/forside1.webp"
            hover="/assets/img/hoverphotosshop/acronecklace_amorchain.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="ANÈL RING"
            price="2200"
            img="/assets/img/shop/shop2.webp"
            hover="/assets/img/hoverphotosshop/anelring.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="ANÇITI CHARM"
            price="1100"
            img="/assets/img/shop/shop3.webp"
            hover="/assets/img/hoverphotosshop/anciticharm.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Lago Bracelet"
            price="5300"
            img="/assets/img/shop/forside4.webp"
            hover="/assets/img/hoverphotosshop/lagobracelet.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Olho Necklace"
            price="3700"
            img="/assets/img/shop/forside5.webp"
            hover="/assets/img/hoverphotosshop/olhonecklace.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Amor Charm"
            price="1100"
            img="/assets/img/shop/forside6.webp"
            hover="/assets/img/hoverphotosshop/amorcharm.webp"
          />
        </a>
      </div>
    </section>
    <section class="vid">
      <video autoplay loop muted>
        <source src="/assets/videos/shopvid.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>
    <section class="productshowcase">
      <div class="con">
        <a href="/product">
          <ProductCard
            name="ANÇITI CHARM & CIÒIÒ CHAIN"
            price="1750"
            img="/assets/img/shop/forside7.webp"
            hover="/assets/img/hoverphotosshop/anciticharm_cioiochain.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Acro Neckring"
            price="2900"
            img="/assets/img/shop/forside8.webp"
            hover="/assets/img/hoverphotosshop/acroneckring.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Charm"
            price="1100"
            img="/assets/img/shop/forside9.webp"
            hover="/assets/img/hoverphotosshop/ohlocharm.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Mar charm"
            price="1100"
            img="/assets/img/shop/forside10.webp"
            hover="/assets/img/hoverphotosshop/marcharm.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Onda ring"
            price="1500"
            img="/assets/img/shop/forside11.webp"
            hover="/assets/img/hoverphotosshop/ondaring.webp"
          />
        </a>
      </div>
      <div class="con">
        <a href="/product">
          <ProductCard
            name="Asa lock bracelet"
            price="3250"
            img="/assets/img/shop/forside12.webp"
            hover="/assets/img/hoverphotosshop/asalockbracelet.webp"
          />
        </a>
      </div>
    </section>

    <section class="imgx2">
      <img src="/assets/img/shop/foto1.webp" class="desk_img" alt="" />

      <img src="/assets/img/shop/foto2.webp" class="desk_img" alt="" />
      <img src="/assets/img/shop/botbanner.webp" class="mobile_img" alt="" />
    </section>
  </div>
</Layout>

<style>
  .overflow {
    overflow-x: hidden;
  }
  .productshowcase {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* Three columns for desktop */
    gap: var(--gap);
    margin-inline: auto;
    padding-block: 40px;
  }

  .con {
    padding-inline: 10px;
    justify-self: center;
  }

  .vid {
    display: flex;
    padding: 0 0 40px 0;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  .imgx2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 1000px;
    padding: 0;
    margin-bottom: var(--margin);
    margin-inline: auto;
  }

  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .imgx2 img {
    height: 360px;
    width: 360px;
  }

  .mobile_img {
    display: none;
  }

  a {
    cursor: pointer;
  }

  @media (max-width: 715px) {
    .productshowcase {
      grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
      gap: 0;
    }

    .con {
      padding-inline: 5px;
      justify-self: center;
      margin-bottom: 10px;
    }
    .mobile_img {
      display: block;
    }

    .desk_img {
      display: none;
    }

    .imgx2 img {
      height: auto;
      width: 100%;
    }

    .imgx2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media (max-width: 480px) {
    section {
      grid-template-columns: 1fr; /* One column for very small screens */
    }
  }
</style>
