---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import ProductCard from "../components/Product_card.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Shop">
  <Hero
    img="/assets/img/shop/headerfoto.webp"
    title="Shop"
    jumplink="#productshowcase"
  />
  <section class="productshowcase">
    <div class="con">
      <a href="/product">
        <ProductCard
          name="ACRO NECKLACE & AMOR CHARM"
          price="5300"
          img="/assets/img/shop/forside1.webp"
          hover="/assets/img/hoverphotosshop/acronecklace_amorchain.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="ANÈL RING"
          price="2200"
          img="/assets/img/shop/shop2.webp"
          hover="/assets/img/hoverphotosshop/anelring.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="ANÇITI CHARM"
          price="1100"
          img="/assets/img/shop/shop3.webp"
          hover="/assets/img/hoverphotosshop/anciticharm.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Lago Bracelet"
          price="5300"
          img="/assets/img/shop/forside4.webp"
          hover="/assets/img/hoverphotosshop/lagobracelet.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Olho Necklace"
          price="3700"
          img="/assets/img/shop/forside5.webp"
          hover="/assets/img/hoverphotosshop/olhonecklace.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Amor Charm"
          price="1100"
          img="/assets/img/shop/forside6.webp"
          hover="/assets/img/hoverphotosshop/amorcharm.webp"
        />
      </a>
    </div>
  </section>
  <section class="bigimg">
    <img
      src="/assets/img/shop/bigimg.webp"
      alt="picture of a hand with cioio jewelry on"
    />
  </section>
  <section class="productshowcase">
    <div class="con">
      <a href="/product">
        <ProductCard
          name="ANÇITI CHARM & CIÒIÒ CHAIN"
          price="1750"
          img="/assets/img/shop/forside7.webp"
          hover="/assets/img/hoverphotosshop/anciticharm_cioiochain.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Acro Neckring"
          price="2900"
          img="/assets/img/shop/forside8.webp"
          hover="/assets/img/hoverphotosshop/acroneckring.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Charm"
          price="1100"
          img="/assets/img/shop/forside9.webp"
          hover="/assets/img/hoverphotosshop/ohlocharm.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Mar charm"
          price="1100"
          img="/assets/img/shop/forside10.webp"
          hover="/assets/img/hoverphotosshop/marcharm.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Onda ring"
          price="1500"
          img="/assets/img/shop/forside11.webp"
          hover="/assets/img/hoverphotosshop/ondaring.webp"
        />
      </a>
    </div>
    <div class="con">
      <a href="/product">
        <ProductCard
          name="Asa lock bracelet"
          price="3250"
          img="/assets/img/shop/forside12.webp"
          hover="/assets/img/hoverphotosshop/asalockbracelet.webp"
        />
      </a>
    </div>
  </section>

  <section class="imgx2">
    <img src="/assets/img/shop/foto1.webp" class="desk_img" alt="" />

    <img src="/assets/img/shop/foto2.webp" class="desk_img" alt="" />
    <img src="/assets/img/shop/botbanner.webp" class="mobile_img" alt="" />
  </section>
</Layout>

<style>
  .productshowcase {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr); /* Three columns for desktop */
    gap: var(--gap);
    margin-inline: auto;
    padding-block: var(--margin);
  }

  .con {
    padding-inline: 10px;
    justify-self: center;
  }

  .bigimg {
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .imgx2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin-bottom: var(--margin);
  }

  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .imgx2 img {
    height: 360px;
    width: 360px;
  }

  .mobile_img {
    display: none;
  }

  a {
    cursor: pointer;
  }

  @media (max-width: 715px) {
    #productshowcase {
      grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
    }

    .mobile_img {
      display: block;
    }

    .desk_img {
      display: none;
    }

    .imgx2 img {
      height: auto;
      width: 100%;
    }

    .imgx2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  @media (max-width: 480px) {
    section {
      grid-template-columns: 1fr; /* One column for very small screens */
    }
  }
</style>
