---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import ProductCard from "../components/Product_card.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Shop">
  <Hero
    img="/assets/img/shop/headerfoto.webp"
    title="Shop"
    jumplink="#productshowcase"
  />
  <section id="productshowcase">
    <a href="/product">
      <ProductCard
        name="ACRO NECKLACE & AMOR CHARM"
        price="5300"
        img="/assets/img/shop/forside1.webp"
        hover="/assets/img/hoverphotosshop/acronecklace_amorchain.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="ANÈL RING"
        price="2200"
        img="/assets/img/shop/shop2.webp"
        hover="/assets/img/hoverphotosshop/anelring.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="ANÇITI CHARM"
        price="1100"
        img="/assets/img/shop/shop3.webp"
        hover="/assets/img/hoverphotosshop/anciticharm.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Lago Bracelet"
        price="5300"
        img="/assets/img/shop/forside4.webp"
        hover="/assets/img/hoverphotosshop/lagobracelet.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Olho Necklace"
        price="3700"
        img="/assets/img/shop/forside5.webp"
        hover="/assets/img/hoverphotosshop/olhonecklace.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Amor Charm"
        price="1100"
        img="/assets/img/shop/forside6.webp"
        hover="/assets/img/hoverphotosshop/amorcharm.webp"
      />
    </a>
  </section>
  <section class="bigimg">
    <img
      src="/assets/img/shop/bigimg.webp"
      alt="picture of a hand with cioio jewelry on"
    />
  </section>
  <section class="bottom">
    <a href="/product">
      <ProductCard
        name="ANÇITI CHARM & CIÒIÒ CHAIN"
        price="1750"
        img="/assets/img/shop/forside7.webp"
        hover="/assets/img/hoverphotosshop/anciticharm_cioiochain.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Acro Neckring"
        price="2900"
        img="/assets/img/shop/forside8.webp"
        hover="/assets/img/hoverphotosshop/acroneckring.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Charm"
        price="1100"
        img="/assets/img/shop/forside9.webp"
        hover="/assets/img/hoverphotosshop/ohlocharm.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Mar charm"
        price="1100"
        img="/assets/img/shop/forside10.webp"
        hover="/assets/img/hoverphotosshop/marcharm.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Onda ring"
        price="1500"
        img="/assets/img/shop/forside11.webp"
        hover="/assets/img/hoverphotosshop/ondaring.webp"
      />
    </a>
    <a href="/product">
      <ProductCard
        name="Asa lock bracelet"
        price="3250"
        img="/assets/img/shop/forside12.webp"
        hover="/assets/img/hoverphotosshop/asalockbracelet.webp"
      />
    </a>
  </section>

  <section class="imgx2">
    <img src="/assets/img/shop/foto1.webp" class="desk_img" alt="" />

    <img src="/assets/img/shop/foto2.webp" class="desk_img" alt="" />
    <img src="/assets/img/shop/botbanner.webp" class="mobile_img" alt="" />
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-inline: auto;
    justify-content: space-evenly;
    gap: var(--gap);
    padding-block: var(--margin);
  }
  .bottom,
  #productshowcase {
    padding-bottom: 0;
  }

  .bigimg {
    padding: 0;
  }

  .imgx2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
    margin-bottom: var(--margin);
  }

  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  .imgx2 img {
    height: 360px;
    width: 360px;
  }

  .mobile_img {
    display: none;
  }

  a {
    cursor: pointer;
  }

  @media (max-width: 715px) {
    .mobile_img {
      display: block;
    }

    .desk_img {
      display: none;
    }
    .imgx2 img {
      height: auto;
      width: 100%;
    }
    .imgx2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
</style>
