---
import Layout from "../layouts/Layout.astro";
import CTA from "../components/CTA.astro";
import ProductCard from "../components/Product_card.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero
    img="/assets/img/shop/headerfoto.webp"
    title="Shop"
    jumplink="#products"
  />
  <section id="products">
    <ProductCard
      name="testnavn"
      price="testprice"
      img="/assets/img/shop/forside1.webp"
    />
    <ProductCard
      name="testnavn"
      price="testprice"
      img="/assets/img/shop/forside1.webp"
      hover="/assets/img/hoverphotosshop/amorcharm.webp"
    />
    <ProductCard
      name="testnavn"
      price="testprice"
      img="/assets/img/shop/forside1.webp"
    />
  </section>
</Layout>

<style>
  section {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
</style>
