---
import CTA from "./CTA.astro";
const { jumplink } = Astro.props;
---

<section>
  <div class="flex">
    <div class="con">
      <img src="/assets/logo_white_outline.svg" class="logo" alt="Cióió logo" />
    </div>
    <div class="con">
      <CTA text="shop now" state="variant" link="/shop" />
    </div>
  </div>
  <a href={jumplink} class="arrow">
    <img src="/assets/arrow.svg" class="arrow" alt="arrow pointing down" />
  </a>
  <video autoplay loop muted>
    <source src="../assets/videos/headervid.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
  }

  .arrow {
    position: absolute;
    bottom: 20px;
    transition: opacity 1s ease-out;
    mix-blend-mode: difference;
    width: 50px;
    cursor: pointer;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    gap: 4rem;
  }
  .logo {
    /*    mix-blend-mode: difference; */
    width: 60%;
  }

  .fade {
    opacity: 0;
  }
</style>

<script>
  window.addEventListener("scroll", function () {
    const arrow = document.querySelector(".arrow");
    if (arrow) {
      if (window.scrollY > 0) {
        arrow.classList.add("fade");
      } else {
        arrow.classList.remove("fade");
      }
    }
  });
</script>
