---

---

<li>
  <a href="#">SHOP</a>
  <a href="#">ABOUT US</a>
  <a href="#"><img src="/assets/Logo_White.svg" alt="Cióió logo" /></a>
  <a href="#">GALLERY</a>
  <a href="#">SEARCH</a>
</li>
<style>
  a {
    text-decoration: none;
    color: black;

    mix-blend-mode: difference;
    padding: 0 2rem;
    font-family: Arial-Narrow;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    position: fixed;
  }
</style>
