---

---
<li>
  <a href="#">SHOP</a>
  <a href="#">ABOUT US</a>
  <a href="#"><img src="/assets/Logo_White.svg" alt="Cióió logo" /></a>
  <a href="#">SEARCH</a>
  <a href="#">CART (0)</a>
</li>
<style>
  a {
    text-decoration: none;
    color: var(--white);
    mix-blend-mode: difference;
    padding: 0 2rem;
    font-family: Karla;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    position: fixed;
    z-index: 9999999;
    mix-blend-mode: difference;
  }

  rect {
    mix-blend-mode: difference;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
