<nav>
  <a href="/" class="burger-logo">
    <img src="/assets/Logo_White.svg" alt="Ci贸i贸 logo" />
  </a>
  <div class="burger-menu">
    <div class="burger-con">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <ul class="menu">
    <li>
      <a href="/shop" class="underline">SHOP</a>
      <a href="/about" class="underline">ABOUT US</a>
      <a href="/" class="logo">
        <img src="/assets/Logo_White.svg" alt="Ci贸i贸 logo" />
      </a>
      <a href="#" class="underline">SEARCH</a>
      <a href="#" class="underline">CART (0)</a>
    </li>
  </ul>
</nav>

<style>
  /* General Styles */
  a {
    text-decoration: none;
    color: var(--white);
    mix-blend-mode: difference;
    font-family: Karla;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: inline-block;
  }

  .underline::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--white);
    transition: width 0.3s ease;
  }

  .underline:hover::after {
    width: 100%;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-block: 1rem;
    mix-blend-mode: difference;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    mix-blend-mode: difference;
  }

  /* Burger menu styles */
  .burger-menu {
    display: none;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10000000;
    mix-blend-mode: difference;
    transition: all 0.3s ease-in-out;
  }

  .burger-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 35px;
    position: fixed;
    right: 20px;
    top: 15px;
    z-index: 10000001;
    mix-blend-mode: difference;
  }

  .burger-con span {
    background: var(--white);
    height: 3px;
    width: 25px;
    display: block;
    transition: all 0.3s ease-in-out;
    position: absolute;
  }

  .burger-con span:nth-child(1) {
    top: 0;
  }

  .burger-con span:nth-child(2) {
    top: 10px;
  }

  .burger-con span:nth-child(3) {
    top: 20px;
  }

  .burger-menu.active .burger-con span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
  }

  .burger-menu.active .burger-con span:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger-con span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
  }

  .burger-logo {
    display: none;
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 10000001;
  }

  .burger-logo img {
    width: 80%;
  }

  @media (max-width: 768px) {
    .menu {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition:;
      /*       max-height 0.3s ease,
        opacity 0.3s ease 1s; */
    }

    .logo {
      display: none;
    }

    .menu.active {
      max-height: 221px;
      opacity: 1;
      background-color: var(--black-500);
      transition:
        max-height 0.5s ease,
        opacity 0.3s ease;
    }

    .burger-menu {
      display: flex;
      justify-content: space-between;
      mix-blend-mode: normal;
    }

    .burger-logo {
      display: block;
    }

    li {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      width: 100%;
      margin-left: 20px;
      margin-top: 50px;
      gap: 20px;
      position: relative;
    }

    ul {
      mix-blend-mode: normal;
    }

    /* Keyframes for fade-in animation */
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    /* Applying the animation with staggered delays */
    .fade-in {
      opacity: 0;
      animation: fadeIn 0.5s forwards;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenu = document.querySelector(".burger-menu");
    const menu = document.querySelector(".menu");
    const menuItems = menu.querySelectorAll("li a");

    burgerMenu.addEventListener("click", function () {
      menu.classList.toggle("active");
      burgerMenu.classList.toggle("active");

      if (menu.classList.contains("active")) {
        menuItems.forEach((item, index) => {
          (item as HTMLElement).style.animationDelay = `${index * 0.05}s`;
          item.classList.add("fade-in");
        });
      } else {
        menuItems.forEach((item) => {
          item.classList.remove("fade-in");
          (item as HTMLElement).style.animationDelay = "0";
        });
      }
    });
  });
</script>
