---
const {number, link, state } = Astro.props;
---

<a id="myLink" class={state} href={link}>{number}</a>

<style>

a {
    font-family: "Karla";
    font-size:var(--w_desc);    
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    

}
.primary {
    color: var(--black-500);
    padding: 10px;

}
.primary:hover {
    outline: var(--w_stroke) solid var(--black-500);
}

.primary:active {
    background-color: var(--black-500);
    color: var(--white);
    outline: var(--w_stroke) solid var(--black-500);
}


</style>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const link = document.getElementById('myLink');
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default action (navigation)
        link.classList.add('primary', 'active');
    });
});
</script>