/* FONTS */
/* @font-face {
  font-family: ANBI;
  src: url("/fonts/Arial Narrow Bold Italic.ttf");
}

@font-face {
  font-family: AN;
  src: url("/fonts/Arial Narrow.ttf");
} */

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
/* font-family: "Karla", sans-serif; */

:root {
  /*Colors*/
  --black-500: #000000;
  --black-300: #686868;
  --white: #ffffff;
  --grey: #fffefe;

  /*Font Sizes*/
  --m_desc: 11px;
  --m_product_text: 11px;
  --m_button: 15px;
  --m_text: 15px;
  --m_h2: 20px;
  --m_h1: 70px;
  --m_h3: 45px

  --w_checkout: 16px;
  --w_desc: 17px;
  --w_button: 20px;
  --w_h2: 20px;
  --w_footer: 20px;
  --w_price: 20px;
  --w_text: 25px;
  --w_h1: 90px;
  --w_h3_overskrift: 70px;

  /*Font weights*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;

  /* Gap, Padding, Margin */
  --margin: 120px;
  --m_margin: 50px;
  --gap: 20px;

  /* Stroke / line weight */

  --w_stroke: 2px;
}

* {
  margin: 0;
}

h1,
h2,
h3,
p,
a {
  font-family: Karla;
  color: var(--black-500);
}

h1 {
  font-size: var(--w_h1);
  text-transform: uppercase;
  font-weight: var(--extra-bold);
}

h2 {
  font-size: var(--w_h2);
}

h3 {
  font-size: var(--w_text);
  text-transform: uppercase;
}

p {
  font-size: var(--w_text);
  color: var(--black-300);
}

a {
  all: unset;
}

@media (max-width: 700px) {
  h1 {
    font-size: var(--m_h1);
  }

  h2 {
    font-size: var(--m_h2);
  }
  h3,
  p {
    font-size: var(--m_text);
  }
}
